@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
    --radius: 0.5rem;
  }
}

@layer components {
  .sk {
    @apply animate-background-shine bg-[linear-gradient(110deg,#222,45%,#111,55%,#222)] bg-[length:250%_100%];
  }
}

.modal-box {
  max-height: calc(100vh - 2rem);
  padding: 1rem;
}

.separator {
  height: 1px;
  background: linear-gradient(
    81.02deg,
    rgb(250, 85, 96) -23.49%,
    rgb(177, 75, 244) 45.66%,
    rgb(77, 145, 255) 114.8%
  );
  min-height: 1px;
  margin-bottom: 1.5rem;
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
}

:root {
  color-scheme: dark;
  --nav-height: 3rem;
  --border-gradient: linear-gradient(rgb(32, 33, 37), rgb(32, 33, 37)) no-repeat
      padding-box,
    linear-gradient(
        81.02deg,
        oklch(var(--s)) -23.47%,
        oklch(var(--p)) 45.52%,
        oklch(var(--a)) 114.8%
      )
      border-box;
  --border-gradient-hover: linear-gradient(rgb(38, 39, 44), rgb(38, 39, 44))
      no-repeat padding-box,
    linear-gradient(
        81.02deg,
        oklch(var(--s)) -23.47%,
        oklch(var(--p)) 45.52%,
        oklch(var(--a)) 114.8%
      )
      border-box;
}

.btn-accent {
  border: 1px solid transparent;
  background: oklch(var(--b2));
  color: inherit;
}

.btn-accent:hover {
  border: 1px solid transparent;
  color: #fff;
  background: var(--border-gradient) !important;
}

.btn-primary {
  border: none;
  background: linear-gradient(
    122deg,
    oklch(var(--s)) 0.01%,
    /*#fa5560*/ oklch(var(--p)) 49.9%,
    /*#b14bf4*/ oklch(var(--a)) 100% /*#4d91ff */
  );
}

.btn-primary:hover {
  box-shadow: rgba(161 128 255 /0.6) 0px 0px 1rem 0px;
  color: #fff;
}

.btn-secondary {
  border-color: transparent;
  color: inherit;
  border: 1px solid transparent;
  background: var(--border-gradient);
}

.btn-secondary:hover {
  border-color: transparent;
  color: #fff;
  background: var(--border-gradient-hover);
}

/* .btn-neutral { */
/*   background: orange; */
/* } */
/**/

.btn-neutral::hover {
  background: lime;
}

form:has(input:invalid, textarea:invalid, select:invalid)
  button[type='submit'] {
  opacity: 0.5;
  pointer-events: none;
}

form:not(:has(input:invalid, textarea:invalid, select:invalid))
  button[type='submit'] {
  opacity: 1;
  pointer-events: auto;
}
