@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
    --background: 12% 0 286;
    --background200: 18% 0 0;
    --foreground: 85% 0 0;
    --card: 18% 0 0;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 62.37% 0.244 308.5;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 67.61% 0.2 20.57;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 52.15% 0.281 288.32;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --radius: 0.675rem;

    --nav-height: 3rem;

    /* Gradients */
    --border-gradient: linear-gradient(rgb(32, 33, 37), rgb(32, 33, 37)) no-repeat padding-box,
      linear-gradient(
          81.02deg,
          oklch(var(--secondary)) -23.47%,
          oklch(var(--primary)) 45.52%,
          oklch(66.65% 0.177 249.59) 114.8%
        )
        border-box;
    --border-gradient-hover: linear-gradient(rgb(38, 39, 44), rgb(38, 39, 44)) no-repeat padding-box,
      linear-gradient(
          81.02deg,
          oklch(var(--secondary)) -23.47%,
          oklch(var(--primary)) 45.52%,
          oklch(66.65% 0.177 249.59) 114.8%
        )
        border-box;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  mark {
    background: #222;
    color: #fff;
  }
}

.modal-box {
  max-height: calc(100vh - 2rem);
  padding: 1rem;
}

.separator {
  height: 1px;
  background: linear-gradient(
    81.02deg,
    rgb(250, 85, 96) -23.49%,
    rgb(177, 75, 244) 45.66%,
    rgb(77, 145, 255) 114.8%
  );
  min-height: 1px;
  margin-bottom: 1.5rem;
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
}
