@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-box {
  max-height: calc(100vh - 2rem);
  padding: 1rem;
}

@layer components {
  .sk {
    @apply animate-background-shine bg-[linear-gradient(110deg,#222,45%,#111,55%,#222)] bg-[length:250%_100%];
  }
}

:root {
  color-scheme: dark;
  --nav-height: 3rem;
}

.btn-primary {
  border: none;
  background: linear-gradient(
    122deg,
    rgb(250, 85, 96) 0.01%,
    rgb(177, 75, 244) 49.9%,
    rgb(77, 145, 255) 100%
  );
}
